.gatewayscreen{
    background-color:rgb(206, 232, 230);
    height: 85vh;
    margin-top: 0;
    padding-top: 15vh;

}
.gatewayscreen__content{
    margin: auto;
    width: 400px;
    height: 420px;
   background-color: white;
   padding: 1rem;
   border-radius: 30px;
}
.gatewayscreen__form{
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.gatewayscreen__form > input{
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
}


.gatewayscreen__top{
    display: flex;
    justify-content: space-between;
    padding-left: 17px;
}

.gatewayscreen__form button{
    margin: auto;
    margin-top :1rem;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}


.gatewayscreen__form > h5{
    margin-bottom: 5px;
    font-weight: 700;
    padding-left: 17px;
}
